<html>
    <head>
        <title>Toto's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Toto's Blog</a></h1>
        </div>

        <div>
            <h3><a href="https://facebook.com/to.tossapon">Facebook</a></h2>
        </div>

        <div>
        	<h2>This is the list of my posts</h2>
        		{% for post in posts %}
        		<div>
         	  		<h3><a href="">{{ post.title }}</a></h3>
        			<p>{{ post.text|linebreaksbr }}</p>
        			<p>Published: {{post.published_date}}</p>
				</div>
				{% endfor %}
        </div>
    </body>
</html>